@tailwind base;
@layer base {
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  h4 {
    @apply text-lg;
  }
}

@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
}

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1.2rem;
  transition: all 0.15s ease-in-out;
}

.banner {
  @apply flex items-center justify-center font-bold text-3xl bg-trueGray-800 text-white;
}

.footer {
  @apply bg-trueGray-800 text-white font-bold text-center flex items-center justify-center fixed bottom-0 w-full h-10;
}

.btn-dark {
  @apply bg-trueGray-800 text-white w-full font-bold hover:bg-black hover:shadow-lg active:bg-trueGray-900;
}

.h-screen-80 {
  height: 80vh;
}

.editor {
  min-height: 500px;
  @apply p-2 my-5 border-4 h-full overflow-y-auto;
}

.editor div {
  @apply px-2;
}

.editor div:first-child {
  @apply pt-2;
}
.content {
  min-height: 500px;
  @apply my-5 border-4 h-full overflow-y-auto;
}

.content div {
  @apply px-2;
}

.content div:first-child {
  @apply pt-2;
}
